/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --thickness: 4px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ff2b2b, #ff5099);
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.container {
    margin: auto;
    background-color: #ffffff;
    width: clamp(500px, 80%, 1000px);
    height: clamp(500px, 80%, 800px);;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #cacaca;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.options {
    margin-top: 20px;
}

button {
    width: 150px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 0 20px;
    color: white;
    background-color: #3400ad;
    transition-duration: 0.2s;
}

button:hover {
    cursor: pointer;
    background-color: #2b008f;
}

.game {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 80%;
    flex: auto;
}

.row {
    width: 100%;
}

.box {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.box:hover {
    cursor: pointer;
}

.middle {
    outline: var(--thickness) solid #000;
}

.bot.rightcorner {
    box-shadow: inset var(--thickness) var(--thickness) #000;
}

.bot.leftcorner {
    box-shadow: inset calc(-1*var(--thickness)) var(--thickness) #000;
}

.top.leftcorner {
    box-shadow: inset calc(-1*var(--thickness)) calc(-1*var(--thickness)) #000;
}

.top.rightcorner {
    box-shadow: inset var(--thickness) calc(-1*var(--thickness)) #000;
}

.restart {
    margin-bottom: 20px;
}